  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    table.clantable {
      border-collapse: separate;
      border-spacing: 0px;
    }
    table.clantable tr td {
      background-color: #aaa;
    }
    table.clantable tr:first-child td:nth-child(3n+1) {
      padding: 10px 20px;
      vertical-align: top;
    }
    table.clantable tr:first-child td:first-child {
      text-align: center;
    }
    table.clantable tr:first-child td:last-child {
      width: 20em;
    }
    table.clantable tr:first-child td:nth-child(2) {
      color: #e3cfb5;
      font-size: 2em;
      font-weight: bold;
      text-shadow: 1px 1px 0px #000, -1px 1px 0px #000, 1px -1px 0px #000, -1px -1px 0px #000 ;
      padding-top: 5px;
      white-space: nowrap;
      text-align: left;
      padding-right: 50px;
      vertical-align: bottom
