#wa-comptext-j211y5y6566cdc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-j215mdkp283log {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j215mdkp283log>.row>.clearfix {margin-bottom:0px;}
#wa-container-j215mdkp283log>.wa-container-vspacer {height:0px;}
#wa-container-j215mdkq56yx7k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j215mdkq56yx7k>.row>.clearfix {margin-bottom:0px;}
#wa-container-j215mdkq56yx7k>.wa-container-vspacer {height:0px;}
#wa-container-j215mdkr56yxzc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j215mdkr56yxzc>.row>.clearfix {margin-bottom:0px;}
#wa-container-j215mdkr56yxzc>.wa-container-vspacer {height:0px;}
#wa-container-j215mdkr56yyr4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j215mdkr56yyr4>.row>.clearfix {margin-bottom:0px;}
#wa-container-j215mdkr56yyr4>.wa-container-vspacer {height:0px;}
#wa-container-j215mdks56yziw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j215mdks56yziw>.row>.clearfix {margin-bottom:0px;}
#wa-container-j215mdks56yziw>.wa-container-vspacer {height:0px;}
#wa-container-j215mdkt56z0ao {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j215mdkt56z0ao>.row>.clearfix {margin-bottom:0px;}
#wa-container-j215mdkt56z0ao>.wa-container-vspacer {height:0px;}
#wa-row-j1zrxsscx684 {margin:0px 0px;}
#wa-row-j1zrxsscx684>div {padding: 0px 0px;}
#wa-row-j1zsdg093vh05s {margin:0px 0px;}
#wa-row-j1zsdg093vh05s>div {padding: 0px 0px;}
#wa-row-j1zvv1vz588z9k {margin:0px 0px;}
#wa-row-j1zvv1vz588z9k>div {padding: 0px 0px;}
#wa-row-j1zy8sr92amkzs {margin:0px 0px;}
#wa-row-j1zy8sr92amkzs>div {padding: 0px 0px;}
#wa-row-j211y23057tdg8 {margin:0px 0px;}
#wa-row-j211y23057tdg8>div {padding: 0px 0px;}
#wa-row-j2139z9y1l2n8 {margin:0px 0px;}
#wa-row-j2139z9y1l2n8>div {padding: 0px 0px;}
[id^=wa-compmenu-j1zsq84x3v86gg] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-j1zsq84x3v86gg] .dropdown-menu > li > a:hover, [id^=wa-compmenu-j1zsq84x3v86gg] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default {background-color:#f8f8f8; border-color:#f7f7f7; border-width:1px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-brand, [id^=wa-compmenu-j1zsq84x3v86gg].navbar-nav li a, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#777777;}
[id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#333333;}
[id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-nav > .open > a:focus {color:#777777; background-color:#e7e7e7;}
[id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-j1zsq84x3v86gg] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-j1zsq84x3v86gg].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
[id^=wa-compmenu-j1zsq84x3v86gg] .wa-srch-input {font-size:14px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j1zrxsscx684 {margin:0px 0px;}
#wa-row-j1zrxsscx684>div {padding: 0px 0px;}
#wa-row-j1zsdg093vh05s {margin:0px 0px;}
#wa-row-j1zsdg093vh05s>div {padding: 0px 0px;}
#wa-row-j1zvv1vz588z9k {margin:0px 0px;}
#wa-row-j1zvv1vz588z9k>div {padding: 0px 0px;}
#wa-row-j1zy8sr92amkzs {margin:0px 0px;}
#wa-row-j1zy8sr92amkzs>div {padding: 0px 0px;}
#wa-row-j211y23057tdg8 {margin:0px 0px;}
#wa-row-j211y23057tdg8>div {padding: 0px 0px;}
#wa-row-j2139z9y1l2n8 {margin:0px 0px;}
#wa-row-j2139z9y1l2n8>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j1zrxsscx684 {margin:0px 0px;}
#wa-row-j1zrxsscx684>div {padding: 0px 0px;}
#wa-row-j1zsdg093vh05s {margin:0px 0px;}
#wa-row-j1zsdg093vh05s>div {padding: 0px 0px;}
#wa-row-j1zvv1vz588z9k {margin:0px 0px;}
#wa-row-j1zvv1vz588z9k>div {padding: 0px 0px;}
#wa-row-j1zy8sr92amkzs {margin:0px 0px;}
#wa-row-j1zy8sr92amkzs>div {padding: 0px 0px;}
#wa-row-j211y23057tdg8 {margin:0px 0px;}
#wa-row-j211y23057tdg8>div {padding: 0px 0px;}
#wa-row-j2139z9y1l2n8 {margin:0px 0px;}
#wa-row-j2139z9y1l2n8>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j1zrxsscx684 {margin:0px 0px;}
#wa-row-j1zrxsscx684>div {padding: 0px 0px;}
#wa-row-j1zsdg093vh05s {margin:0px 0px;}
#wa-row-j1zsdg093vh05s>div {padding: 0px 0px;}
#wa-row-j1zvv1vz588z9k {margin:0px 0px;}
#wa-row-j1zvv1vz588z9k>div {padding: 0px 0px;}
#wa-row-j1zy8sr92amkzs {margin:0px 0px;}
#wa-row-j1zy8sr92amkzs>div {padding: 0px 0px;}
#wa-row-j211y23057tdg8 {margin:0px 0px;}
#wa-row-j211y23057tdg8>div {padding: 0px 0px;}
#wa-row-j2139z9y1l2n8 {margin:0px 0px;}
#wa-row-j2139z9y1l2n8>div {padding: 0px 0px;}
}
